{% extends 'base.html.twig' %}

{% block title %}{{ 'post.crud.new._title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}">{{ 'misc.actions.back_to_list._label'|trans }}</a>
{% endblock %}
